<h3>{{content.hometitle}}</h3>
<h4><a href="{{page.url}}">{{content.homedesc}}</a></h4>
<p>{{content.homecontent}}</p>
<p>{{content.hometext}}</p>
<p>{{content.hometext1}}</p>
<p>{{content.hometext2}}</p>
<ul><li><a href="{{ '/fitur/' | url }}" class="link">{{content.homebtn}}</a></li></ul>