<h3>{{content.hometitle}}</h3>
<h4><a href="{{page.url}}">{{content.homedesc}}</a></h4>
<p>{{content.homecontent}}</p>
<p>{{content.hometext}}</p>
<p>{{content.hometext1}}</p>
<p>{{content.hometext2}}</p>
<p><a href="{{ '/posts/' | url }}">{{content.homebtn}}</a></p>