---
layout: layouts/home.njk
permalink: /fitur/
eleventyNavigation:
  key: Fitur
  order: 2
title: Fitur Program Restoran
description: Bagaimana bekerja dengan software restoran, program restoran.
---
<h3>{{ title }}</h3>
<h4><a href="{{page.url}}">{{ description }}</a></h4>

{% set postslist = collections.posts %}
{% include "postslist.njk" %}
