<ul reversed class="postlist" style="counter-reset: start-from {{ (postslistCounter or postslist.length) + 1 }}">
{% for post in postslist | reverse %}
  <li>
    <a href="{{ post.url | url }}" class="link">{% if post.data.title %}{{ post.data.title }}{% else %}{{ post.url }}{% endif %}</a>
  </li>
{% endfor %}
</ul>
