<div style="overflow-x:auto;">
<table>
<tbody>
Random Hastag: 
<th>
{% for tag in collections.tagList | filterTagList %}
{% set tagUrl %}/tags/{{ tag | slug }}/{% endset %}
<td class="nav-item{% if entry.url == page.url %} nav-item-active{% endif %}"><a href="{{ tagUrl | url }}" class="post-tag">#{{ tag }}</a></td>
{% endfor %}
</th>
</tbody>
</table>
</div>