---
layout: layouts/base.njk
---
<h3>{{ title }}</h3>
<h4><a href="{{page.url}}">{{ description }}</a></h4>
<div style="overflow-x:auto;">
<table>
<tbody>
Hastag: 
<th>
{%- for tag in tags | filterTagList -%}
{%- set tagUrl %}/tags/{{ tag | slug }}/{% endset -%}
<td><a href="{{ tagUrl | url }}" class="post-tag">#{{ tag }}</a></td>
{%- endfor %}
</th>
</tbody>
</table>
</div>
{{ content | safe }}

{%- set nextPost = collections.posts | getNextCollectionItem(page) %}
{%- set previousPost = collections.posts | getPreviousCollectionItem(page) %}
{%- if nextPost or previousPost %}
<hr>
<ul>Next fitur restoran
  {%- if nextPost %}<li><a href="{{ nextPost.url | url }}">{{ nextPost.data.title }} →</a></li>{% endif %}
  {%- if previousPost %}<li><a href="{{ previousPost.url | url }}">{{ previousPost.data.title }} →</a></li>{% endif %}
</ul>
{%- endif %}
